.root {
  width: rem(350px);
  background: var(--mantine-color-gray-1);
  border: rem(1px) solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  box-shadow: 0 rem(7px) rem(29px) 0 rgba(100, 100, 111, 0.2);
  padding-bottom: var(--mantine-spacing-xl);
  height: max-content;
}

.root :where(h3, div) {
  margin: var(--mantine-spacing-md);
}

.newTask {
  height: rem(75px);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid var(--mantine-color-gray-3);
  background: var(--mantine-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xs);
}
