.root {
  position: relative;
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid var(--mantine-color-gray-3);
  background: var(--mantine-color-white);
  padding: var(--mantine-spacing-md);
}

.description {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}

.icon {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-xs);
  radius: var(--mantine-radius-xl);

  @mixin hover {
    background: var(--mantine-color-gray-1);
  }
}
